*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}


/* Header section styling start from here >>>>>>>>>> */

 header .nav_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D5D2D2;
    padding:1rem 0;
}

.nav_section .nav_bar ul {
    display: flex;
    gap: 30px;
}

.logo_part {
    display: flex;
    align-items: center;
}

.logo_part span {
    color: #4834d4;
    font-size: 18px;
    font-weight: bolder;
}

.logo_part img {
    width: 13rem;
}

.nav_section .nav_bar ul li {
    list-style: none;
}

.nav_section .nav_bar ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* bannter section styling start from here */

.banner_section {
    height: 100vh;
    background: url("./asset/image/background.jpg"), linear-gradient(45deg,rgb(92, 90, 90), rgb(102, 101, 101));
    background-blend-mode: overlay;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.banner_section .banner_caption {
    font-size: 5rem;
    margin: 0px 310px;
    text-align: center;
    color: white;
}

.banner_section .banner_caption span {
    color: red;
}

.banner_section .banner_text {
    margin: 15px 330px;
    color: white;
    font-size: 20px;
    line-height: 25px;
}

.banner_section .banner_btns button {
    padding: 15px 30px;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    font-weight: 500;
    margin-top: 10px;
}

.banner_section .banner_btns button.btn_1 {
    background-color: red;
    color: white;
}

/* bannter section styling end from here */
/* Header section styling end from here >>>>>>>>>> */

/* ...................................................................... */

/* main section styling start from here */

/* service part styling start */

.service_section {
    display: flex;
    padding: 0 30px;
    height: 110vh;
    background-color: #010101;
    padding-bottom: 130px;
}

.service_section .service_part_sizeing {
    height: 100%;
    width: 50%;
}

.service_section .service_text_part {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}

.service_btn {
    padding: 15px 35px;
    border-radius: 50px;
    border: none;
    font-size: 17px;
    color: rgb(158, 157, 157);
    font-weight: 500;
    background-color: white;
}

.service_caption {
    font-size: 2.2rem;
    color: white;
    margin: 20px 0 25px;
}

.service_caption span {
    color: red;
}

.service_box_part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.service_box_part .box {
    width: 49.5%;
    height: 49.5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.service_box_part .box img {
    width: 6.5rem;
}

.service_box_part .box h2 {
    font-size: 17px;
    margin-top: 20px;
}

.service_text {
    width: 80%;
    font-size: 18px;
    margin-bottom: 30px;
}


.list_of_service li {
    list-style: none;
    margin-bottom: 5px;
}

.author_id {
    margin-top: 20px;
    display: flex;
}

.author_img {
    display: flex;
    align-items: center;
    width: 40%;
    border-right: 1px solid red;
    height: 80px;
}

.author_img div {
    margin-left: 10px;
}

.author_img img {
    width: 4rem;
    border-radius: 100px;
}

.button_parts {
    display: flex;
    align-items: center;
    margin-left: 25px;
}
/* service part styling end */

/* blog section styling start */

.blog_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 170px;
}

.appointment_card {
    position: absolute;
    margin-top: -80px;
    display: flex;
    align-items: center;
    width: 80%;
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 20px;
}


.appointment_card .phone_part {
    display: flex;
    align-items: center;
    width: 42%;
    border-right: 2px solid rgb(151, 92, 4);
    padding: 20px 10px;
}

.appointment_card .phone_part img {
    width: 100px;
    margin-right: 20px;
}

.appointment_card .phone_part .contact_number p{
    font-size: 12px;
}

.appointment_card .phone_part .contact_number h1 {
    font-size: 2rem;
}

.appointment_card .appointment_btn button {
    padding: 15px 50px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
}

.appointment_card .appointment_description {
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

/* blog section styling end */

/* main section styling end from here */
