*{
    margin: 0;
    padding: 0;
}


/* Header section styling start from here >>>>>>>>>> */

 header .nav_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Header section styling start from here >>>>>>>>>> */
